@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'AbrilFatface';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/AbrilFatface-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'AbhayaLibre';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/AbhayaLibre-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'AbhayaLibre';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/AbhayaLibre-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'AbhayaLibre';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/AbhayaLibre-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'AbhayaLibre';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/AbhayaLibre-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'AbhayaLibre';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(../fonts/AbhayaLibre-ExtraBold.ttf) format('truetype');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'AbhayaLibre', serif;
}

h1, h2, h3, h4{
  font-family: 'AbrilFatface', serif;
}

h2{
  color: #0F1F2F;
  font-size: 40px;
}

h3{
  color: #0F1F2F;
  font-size: 32px;
}

h4{
  color: #0F1F2F;
  font-size: 24px;
}

h5{
  color: #926F2F;
  font-size: 16px;
}

h6{
  color: #926F2F;
  font-size: 20px;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
}

a {
  cursor: pointer;
}

.navbar{
  background-color: rgba(30, 57, 87, 1);
  backdrop-filter: blur(10px)
}

.galleryTitle{
  background-color: rgba(30, 57, 87, 1);
  backdrop-filter: blur(10px)
}

/* Shine */
.hover14 figure {
	position: relative;
}
.hover14::before {
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
.hover14:hover::before {
	-webkit-animation: shine .75s;
	animation: shine .75s;
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}

/* Customize the bullet styles */
/* .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #007bff;
  opacity: 0.7;
} */

/* Customize the active bullet style */
/* .swiper-pagination-bullet-active {
  background: #67f7f9;
  opacity: 1;
} */